.main-navbar{
	padding-top:  1.5rem!important;
}

 
.color-even{
	background: #546a7b!important;
}

.color-odd{
	background: url(images/patt.png) ;
    background-size: 256px 256px!important, cover;
    background-attachment: fixed, fixed;
    background-position: top left, center center;
    color: white!important;
}

.title{
	color: white!important;
}

.subtitle{
	color: white!important;
	is-3;
}

strong{
	color: white!important;
}

td{
	color: white!important;
}

table{
	background: transparent!important;
}

img{
  display: block!important;
  width: 10px;
  height: 10px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 70em;
  -moz-border-radius: 70em;
  border-radius: 70em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

figure img {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
figure:hover img {
  -webkit-filter: blur(0);
  filter: blur(0);
}