.main-navbar{
	padding-top:  1.5rem!important;
	color: black!important;
}

.myfont{
	font-family: 'Acme', sans-serif;
}

.first{
	text-shadow: #FC0 1px 0 10px!important;
}
 
.color-even{
	/*background: #546a7b!important;*/
	background: url(images/red-gradient.png) ;
	/*background: url(https://i.pinimg.com/236x/93/2d/aa/932daa82c92d0a70599e694dee812b08--red-pattern-iphone-wallpaper.jpg);*/
	/*background: url(https://wallpapertag.com/wallpaper/full/9/a/8/66407-large-matrix-background-1920x1080.jpg);*/
}

.color-odd{
	background: url(images/patt.png) ;
    background-size: 256px 256px!important, cover;
    background-attachment: fixed, fixed;
    background-position: top left, center center;
    color: white!important;
}

.title{
	color: white!important;
	text-shadow: 2px 2px grey;
}

.subtitle{
	color: white!important;
	is-3;
}

strong{
	color: white!important;
}

td{
	color: white!important;
}

table{
	background: transparent!important;
}

h3{
	font-size: 20px;
}

/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: black;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 10px;
  background: #4caf50;
  width: 0%;
}
